.accordion .titled-pane .title {
	-fx-background-color: transparent;
}
.accordion .titled-pane  {
    
    -fx-text-fill: white;
    -fx-padding: 0.3333em 0.75em 0.3333em 0.5em;
}

}
.accordion .titled-pane>*.content {
    -fx-background-radius: 5;
    -fx-border-color:transparent;
    -fx-background-color: #430064;
    -fx-padding: 0em 0em 0.2em 0.75em;
}

.accordion .titled-pane>.title>.arrow-button>.arrow {
    -fx-background-color: white;
}

.list-view,
.list-view .list-cell:odd,
.list-view .list-cell:even {
    -fx-background-color:#430064;
    -fx-text-fill: white;
}