.button {
	-fx-background-color: #3F2B63;
	-fx-border-color: #3F2B63;
	-fx-border-radius: 5;
	-fx-text-fill: #FFFFFF;
}
.table-view{
-fx-border-color: #D37AFF;}

.table-row-cell{
-fx-border-color: #D37AFF;
-fx-table-cell-border-color:#D37AFF;}
.table-view .column-header{
    -fx-background-color:#D37AFF;
    
}

.table-view .column-header-background .label{
    -fx-background-color:#D37AFF ;
    -fx-text-fill: white;
    -fx-padding: 0 0 5px 0;}

.label{
	-fx-text-fill: #430064;
	-fx-font-size: 14px;
	-fx-padding: 10px 0 0 10px;
}
.table-view{
-fx-border-color: #D37AFF;}

.table-row-cell{
-fx-border-color: #D37AFF;
-fx-table-cell-border-color:#D37AFF;}